{% extends "layout.html" %}

{% block body %}
  <div class="container mt-5 mx-auto">
    <h1 style="text-align: center; ">welcome to books</h1>

    <div class="card mt-3 mx-auto" style="max-width: 50rem;">
      <div class="card-header">
        <h3>please sign in</h3>
      </div>
      <div class="card-body">
        <p>{{ message }}</p>
        <form action="{{ url_for('login') }}" method="post">

          <div class="form-group">
            <label>username</label>
            <input class="form-control" name="username"
              placeholder="enter your username">
          </div>

          <div class="form-group">
            <label>password</label>
            <input class="form-control" type="password" name="password"
              placeholder="enter your password">
          </div>

          <div class="form-group">
            <button class="btn btn-primary">sign in</button>
          </div>

        </form>
        <a href="{{ url_for('signup') }}">not a member? sign up here</a>
      </div>

    </div>

  </div>


{% endblock %}
