{% extends "layout.html" %}

{% block title %}
    books
{% endblock %}

{% block body %}
  <div class="container mt-5 mx-auto">
    <h1 style="text-align: center; ">welcome to books</h1>
    <form class="" action="{{ url_for('search') }}" method="post">
      <div class="input-group my-5 mx-auto">

          <input class="form-control nack" type="text" name="req"
              placeholder="enter an isbn, title, or author"
              aria-label="enter an isbn, title, or author"
              aria-describedby="button-addon2">

          <div class="input-group-append">
            <button class="btn btn-primary" type="button"
              id="button-addon2">Search</button>
          </div>

      </div>
    </form>
    <div class="container mx-auto">
      {% for book in results %}
        <a href="{{ url_for('result', book=book.title) }}"><h5>{{ book.title }}</h5></a>
        by {{ book.author }}<br>
        published {{ book.year }}<br>
        isbn: {{ book.isbn }}<br><br>
      {% endfor %}
    </div>
  </div>



{% endblock %}
