{% extends "layout.html" %}

{% block title %}
    books
{% endblock %}

{% block body %}
  <h1>sign up for books</h1>

  <br>
  <br>
  <br>

  <form action="{{ url_for('thanks') }}" method="post">

    <div class="form-group">
      <input class="form-control" name="username" placeholder="enter a username">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="enter a password">
    </div>

    <div class="form-group">
      <button class="btn btn-primary">sign up!</button>
    </div>

  </form>



{% endblock %}
